// Normally inner pages styles
.breadcrumbs
	padding: 15px 0 30px
	li
		display: inline
	li, a
		margin-right: 10px
	a
		text-decoration: underline
		&:hover
			text-decoration: none 
	i
		position: relative
		top: -1px
		display: inline-block
		+s(breadcrumbs-arr)
		vertical-align: middle
		


.filter
	margin-bottom: 10px
	background: #FFF
	border-radius: 5px 
	box-shadow: 0 1px 1px rgba(0,0,0,.3) 
.filter__in
	+clr
.filter__btn
	float: left
	padding: 14px 5px
	&.filter__btn_first
		padding: 14px 5px 14px 15px 
		border-radius: 5px 0 0 5px
	&.is-active
		background: #e0f1f7 
	.btn
		float: left
.filter__search
	padding: 16px
	float: left
	.field
		float: left
		margin-right: 15px
	.field__el
		position: relative
		input
			width: 190px
			padding: 0 35px 0 10px 
			background: none 
		button
			position: absolute
			top: 0
			right: 0
			width: 35px
			height: 28px
			background: none 
			font-size: 0
.filter__search-result
	float: left
	margin-top: 5px
.filter__search_right
	float: right
	.field
		margin: 0
	.field__el
		input
			width: 140px
	.filter__search-result
		margin-right: 15px
.filter__clear
	float: left
	padding: 0 5px
	margin: 8px 0 0 7px
	background: none
	font-size: 0
	span
		position: relative
		top: 2px
		display: inline-block
		font-size: 13px
		font-weight: 600 
	.ico
		margin: 0 7px 0 0
	&:hover
		span
			color: $red
			text-decoration: underline 
		.ico_del
			+s(ico-del-h)
.filter__drop
	padding: 12px 15px
	background: #e0f1f7
	border-radius:  0 0 5px 5px
	+clr
.filter__row
	font-size: 0
	+clr
	.field, .checkbox
		margin-right: 25px
	.btn-blue
		float: right
		width: 140px
	.select
		.checkbox
			margin: 0









































